
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ececec;
}

.container{
    width: 100%;
    padding: 30px;
    display: grid;
    gap: 20px;


    /* 열 */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fill, minmax(20%, auto)); */

    /* 행 */
    /* grid-template-rows: repeat(3, 1fr); */
    grid-template-rows: repeat(auto, 1fr);
    /*행을 auto 로 해놨기에, 지정해준 4열 기준으로 자식요소들이 많아질 때마다, 같이 따라서 늘어난다*/
    /*1fr 은 비율이다  -->  1 : 1 : 1 ... 비율로 일정하게 늘어나는 것이다*/

}

.item{
    background-color: rgb(55, 55, 128);
    border-radius: 20px;
    height: 200px;
}

.item:hover{
    background-color: rgb(25, 25, 90);
}
