

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 6px;
}

body{
    background-color: #e9e9e9;
    padding: 20px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container-1{
    background-color: white;
    padding: 20px;
    flex-grow: 1;
}

.container-2{
    background-color: white;
    padding: 20px;
    flex-grow: 3;
}

.container-3{
    background-color: white;
    padding: 20px;
    flex-grow: 1;
}